[submodule "external/min-ibf-fpga"]
	path = external/min-ibf-fpga
	url = https://git.zib.de/hpc-research/Projects/seqanatfpga/min-ibf-fpga.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal
[submodule "external/sdsl-lite"]
	path = external/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
